.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #222;
  width: 360px;
 
}
.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #e9e9e9;
  border-bottom: 1px solid #444;
}
.brandIcon {
  font-size: 28px;
  cursor: pointer;
  color: #777777;
}
.brandIcon:hover {
  color: #ffffff;
}
.noteList {
  margin: 0;
  padding: 0;
}

.noteItem {
  color: #ffffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   
}

.noteItem__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  flex: 1;
  padding: 15px 0;
}

.noteTitle {
  display: flex;
  align-self: center;
}
.noteTitle span {
  color: #777;
  margin-left: 35px;
  cursor: pointer;

}
.noteIcons {
  display: none;
  color: #777;
}
.noteItem.noteItem:hover .noteIcons, .noteItem.active .noteIcons {
  display: block;
  color: #000;
}
.noteItem:hover, .noteItem.active {
  background: rgb(216, 196, 85);
  color: #000000;
  cursor: pointer;
}

.main {
  padding: 20px 50px;
  flex: 1;
}

/* From */
.form {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  width: 100%;
}
.form input {
  margin-bottom: 20px;
}
.form textarea {
  resize: vertical;
  padding: 10px;
}
.btn {
  margin-top: 20px;
  background: rgb(216, 196, 85);
  padding: 14px 44px;
  border: none;
  align-self: center;
  cursor: pointer;
}
input {
  padding: 10px;
}